.body {
    color: rgb(68, 84, 106);
}

hr {
    border: none;
    height: 5px;  
    color: rgb(68, 84, 106);
    background-color: rgb(68, 84, 106);
}

@media screen and (max-width: 400px) {
    body {font-size: 18px;} 

}
